* {
margin: 0;
padding: 0;
}
.fenseraj {
    font-style: italic;
}
.pre-header {
    background-color: #FF5733;
    height: 60px;
    color: #fff;
    border-radius: 25px;
}
.pre-header .container .col-md-6 {
    font-size: xx-large;
    
}
.main-nav {
    background-color: blue;
    border-radius: 25px;

}
.main-nav .main-menu {
    list-style: none;

}
.main-nav .main-menu li {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: none;
    margin-left: 15px;
    color: black;
    
}
 .main-menu li a {
    color: black;
    padding: 5px;
    background-color: blue;
    border: 2px solid  blue ;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: none;

}
.main-nav .main-menu li a:hover {
color: blue;
background-color: #fff;
}
.boksovi {
    background-image: url("../images/kapljica.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    border-radius: 25px;
     padding-left: 15px;
     border-width: thick;  
    text-align: center;
    font-weight: bold;
    color: black;
}
.boksovi .col-md-3 {
    border: 10px solid blue;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.slika-text {
    background-image: url("../images/zagadjenje.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 25px;
}
.slika-text h1 {
    color: black;
    font-weight: bold;
}
.slika-text p {
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.slika-text h6 {
    font-size: 15px;
    color: black;
}
.slicice {
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px;
    background-color: blue;
}

.slicice img {
    border: 5px solid black;
    display: block;
    margin-left: 100px;
    margin-right: 105px;
    margin-top: 10px;
}
.service-item {
    margin-left: 20px;
}
.pridruzi-se{
    text-align: center;
    padding: 50px;
    list-style: none;
    background-color: blue;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.pridruzi-se-btn {
    list-style: none;
    color: black;
    background-color: blue;
    text-decoration: none;
    margin: 20px;
    padding: 50px;
    
}
.pridruzi-se-btn li a {
    color: black;
    list-style: none;
    background-color: blue;
    padding: 50px;
    border: 5px solid black;
    padding-top: 35px;
    padding-bottom: 35px;
    transition: 0.5s;
    text-decoration: none;
}
.pridruzi-se-btn li a:hover {
    color: black;
    background-color: #fff;
}
.footer {
    background-color: #FF5733;
    border-radius: 25px;

}
.footer h6{
    text-align: end;
}
